.divyadept{
    display: flex;
    flex-direction: row;
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1686715780_en-idei-club-p-medical-abstract-background-dizain-instagr-19.jpg');
    background-size: cover;
}

.deptinfo{
    width: 50%;
    height: 100vh;
}

.tiyikelogo{
    width: 100%;
    flex: 0 0 auto;
    display: flex;
}

.zitobe{
    margin-top: 5%;
    margin: 5%;
}

.infoija{
   width: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
}

.deptTitle{
    color: green;
    font-size: 5ch;
    font-weight: 500;
    margin-bottom: 3%;
    margin-left: 10%;
}

.deptdis{
    text-align: left;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 20% ;
    margin-bottom: 2%;
}

.deptgcpd{
    font-weight: 400;
    margin-left: 10%;
}

.deptcont{
    margin-left: 10%;
    font-size: x-large;
    font-weight: 500;
}

.deptImg{
    width: 50%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/b5/6a/ec/b56aec3b029fa3dd95695a11941888b9.png");
    background-size: cover;
}

@media(max-width: 500px){
   .divyadept{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
   }

   .deptImg{
    width: 100%;
    height: 300px;
   }

   .deptinfo{
    display: flex;
    flex-direction: column;
    height: auto;
   }
   
   .tiyikelogo{
    display: none;
   }

   .infoija{
    width: 200%;
   }

   .deptTitle{
    margin-top: 5%;
    margin-left: 5%;
    font-size: xx-large;
   }

   .deptdis{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
   }

   .deptgcpd{
    margin-left: 5%;
   }

   .deptcont{
    margin-left: 5%;
   }
  }
    