#stats{
  overflow: visible;
  background-image: url(https://i.pinimg.com/564x/5d/e1/21/5de121de4448118e3c874714cebffa03.jpg);
}
#statistics{
    background: linear-gradient(to right, rgba(50, 145, 10, 0.3), rgba(89, 183, 48)); 
}