/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(86, 154, 154); */
  
  }
    #mission-section{
      width: 1150px;
      height: 500px;
      background-color: rgb(86, 154, 154);
      border-color: #000;
      margin-left: 70px;
      margin-right: 70px;
      display: flex;
    }
    .footer-coll h4{
      font-size: 22px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
      text-decoration: none;
      margin-left: 30px;
      margin-top: 50px;
      margin-right: 10px;
    }
    .footer-coll h4::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: white;
      height: 2px;
      box-sizing: border-box;
      width: 120px;
    }
    .footer-colll h4{
      font-size: 22px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
      text-decoration: none;
      margin-left: 50px;
      margin-top: 50px;
      margin-right: 10px;
    }
    .footer-colll h4::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: white;
      height: 2px;
      box-sizing: border-box;
      width: 120px;
    }
    .footer-coll p{
      margin-left: 30px;
      color: white;
      font-size: 20px;
      bottom: -10px;
      margin-bottom: 30px;
    }
  .footer-coll ul{
    color: white;
    margin-left: 30px;
  }
  .footer-colll p{
      font-size: 18px;
      color: white;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
      text-decoration: none;
      margin-left: 50px;
     
      margin-right: 10px;
  }
  .footer-colll ul{
    color: white;
    margin-left: 50px;
  }
  .old{
    margin-top: 60px;
    margin-right: 10px;
  }
  @media (max-width:500px){
  .body{
    background-image: url('https://en.idei.club/uploads/posts/2023-06/1686715780_en-idei-club-p-medical-abstract-background-dizain-instagr-19.jpg');
  }
   #mission-section{
    display: inline-block;
    margin-left: 0px;
    width: 390px;
    height: 600px;
   }
   .footer-coll h4, .footer-colll h4{
    font-size: 80%;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
   }
   .footer-coll h4::before{
    width: 60px;
    margin-top: 0px;
  }
  .footer-coll p, .footer-coll ul, .footer-colll p, .footer-colll ul{
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60%;
  }
  .old{
    margin-top: 25px;
    height: 200px;
    width: 350px;
    margin-left: 15px;
    border-radius: 5px;
  }


  }
  @media(min-width: 1500px){
     #mission-section{
       margin-top: 30px;
       margin-left: 350px;
     }
  }